/*************** SMALL MOBILE **************/
body {
     background-color: white;
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}
#container {
  width: 100%;
  margin: auto;
  text-align: center;
}
#homecontent section {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
/******** header ********/
.mainheader h1 {
font-family: 'Fira Sans', sans-serif;
font-size: 2em;
float: left;
width: 100%;
color: #e0e0e0;
}
.mainheader ul {
  list-style: none;
  text-align: center;
  background-color: #3c2b3c;
  padding: 18px 0;
  margin: 0;
}
.mainheader li {
  display: inline;
}
.mainheader a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
}
/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
  color: #6a4267;
}
/* selected link */
a:active {
    color: #e2d8df;
}

/*********** main content **********/
h2 {
  color: #41303e;
}
.addresslink {
  background-color: #6a4267;
  padding: 28px 0;
  text-decoration: none;
  list-style: none;
}
.addresslink a {
  text-decoration: none;
  list-style: none;
}
aside {
  width: 100%;
}
iframe {
  padding: 30px 0;
}
#moreresultslink a {
  font-size: 12px;
  color: #6a4267
}
/**********************************************/





/***************** TABLET *******************/
@media (min-width: 768px) {
  body {
    background-color: white;
  }
}
/**********************************************/







/*/***************** DESKTOP ******************/
@media (min-width: 992px) {
body {
  background-color: white;
  color: #000;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}
/*main*/
#homecontent section {
  float: left;
  width: 60%;
  padding-left: 40px;
}
p {
  font-weight: 100;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  color: #676464;
  padding-top: 20px;
}
h2 {
  float: left;
  font-size: 2rem;
  color: #6a4267;
}
article {
   border-bottom: 1px solid #000;
   margin-bottom: 40px;
  }
.addresslink {
  display: none;
}
/*side content*/
aside {
  float: right;
  width: 26%;
  padding-right: 40px;
  vertical-align: top;
  }
h3 {
  font-size: 1em;
  padding-top: 50px;
  }
.resultscontent {
  font-size: 1em;
}
iframe {
  float: left;
  width: 60%;
  padding-left: 40px;
}
script {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
img {
  width: 100%;
}
}
