/*************** SMALL MOBILE **************/
body {
     background-color: white;
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}
#container {
  width: 100%;
  margin: auto;
  text-align: center;
}
#homecontent {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
/******** header ********/
header {
  background-color: #3c2b3c;
}
.mainheader h1 {
font-family: 'Fira Sans', sans-serif;
float: left;
width: 100%;
color: #5c4853;
font-size: 2.5em;
font-weight: 800;
background-color: #dadada;
padding: 5%;
margin: 0;
}
.jumbotron {
  background-image: url("purpleshirt.png");
}

/*********** main content **********/
.maintextcontent section {
  padding: 0 30px;
}
h2 {
  color: #915175;
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px;
}
.addresslink {
  background-color: #6a4267;
  padding: 28px 0;
  text-decoration: none;
  list-style: none;
}
.addresslink a {
  text-decoration: none;
  list-style: none;
  color: white;
}
img {
  margin-top: 10px;
}

/*********** picture & testimonials **********/
aside {
  width: 100%;
}
iframe {
  padding: 0;
}
#moreresultslink a {
  font-size: 12px;
  color: #6a4267
}

.resultscontent {
  padding: 10px 30px;
}
.expect {
  padding: 10px 30px;
}
h4 {
  height: 50%;
  padding: 20px 0;
  margin: 0;
  background-color: #3e9bb8;
  color: white;
}

/************   Testimonials  **********/

.testimonials {
  background-color: white;
}

/************   Appointment **************/

.appointment li {
  list-style: none;
  text-align: center;
}
.appointment ol {
  padding: 0;
  display:none;
}
#appointment-content {
  background-color: #dadada;
  padding-bottom: 5%;
}
.expect-list {
  color: #3e9bb8;
}
/************ Side Content **************/
aside {
display: none;
  }
.aboutcontent {
  display: none;
}
/************ Footer **************/
footer {
  padding: 10%;
  background-color: #3c2b3c;
  margin: 0;
}
.close {
  float: none;
  color: white;
  opacity: 1;
  font-weight: 500;
}
/*/***************** DESKTOP ******************/


/* Medium devices (desktops, 992px and up) */
  /*********** main content **********/
.maintextcontent {
  float: left;
  width: 70%;
}
iframe {
  display: none;
}
/************ Side Content **************/
aside {
  display: inline-block;
  float: right;
  width: 20%;
  padding-left: 10px;
  }
  .aboutcontent {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}

/************ Footer **************/
footer {
  clear: both;
}

