.jumbotron h1 {
  color: #5c4852;
}

.glyphicon-heart:before {
  padding-right: 10px;
  font-size: .8em;
}
.jumbotron {
  background-color: #e2d8df;
}
.bar {
      background-color: #3c2b3c;
    padding: 22px 0;
    margin: 20px 0;
}
.addresslink {
    background-color: #3c2b3c;
    padding: 22px 0;
    margin: 20px 0;
    text-align: center;
}
.addresslink a {
  color: white;
  text-align: center;
  }
.about img {
  width: 246px;
}

